<a href="https://colab.research.google.com/github/DHANUSHREE2001/MachineLearning_Miniprojects/blob/main/DiabetesDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                        

> **NAME: DHANUSHREE K G**

> **DIABETES DETECTION**

#**LOADING THE DATASET**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("https://drive.google.com/file/d/1L1RtCM5FWtKF9oQv2dq9RqHLLDBvcdk_/view?usp=sharing")
data.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

#**ANALYSIS OF THE DATASET**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

#**TRAIN TEST SPLIT**

In [ ]:
x = data.drop(labels="Outcome",axis=1)
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0,
                                                 test_size=0.25)

#**TRAINING/BUILDING A MODEL**

#RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier1 = RandomForestClassifier(n_estimators=6,criterion='entropy',
                                     random_state=0)
classifier1.fit(x_train,y_train)
y_pred1 = classifier1.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
acc_rf = round(accuracy_score(y_pred1,y_test),2)*100
print("Accuracy of the random forest model: ",acc_rf)

Accuracy of the random forest model:  73.0

#LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier2 = LogisticRegression(solver='lbfgs',max_iter=1000)
classifier2.fit(x_train,y_train)
y_pred2 = classifier2.predict(x_test)

In [ ]:
acc_lr =  round(accuracy_score(y_pred2,y_test),2)*100
print("Accuracy of Logistic Regression model: ",acc_lr)

Accuracy of Logistic Regression model:  80.0

#KNN

In [ ]:
data.shape

(768, 9)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier3 = KNeighborsClassifier(n_neighbors=int(np.sqrt(768)))
classifier3.fit(x_train,y_train)
y_pred3 = classifier3.predict(x_test)

In [ ]:
acc_knn = round(accuracy_score(y_pred3,y_test),2)*100
print("Accuracy of KNN model: ",acc_knn)

Accuracy of KNN model:  76.0

Accuracy(Logistic Regression)>Accuracy(KNN)>Accuracy(Random Forest)

Best classification algorithm for diabetes detection in this scenario => Logistic Regression